.container {
    display: flex;
    justify-content: center;
    margin: 2%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
}
.titleJogador {
    margin-right: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleMonstro {
    margin-left: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.border {
	margin-top: 2%;
	border: 1px solid #5c5956;
	border-radius: 2px;
	height: 15px;
	width: 400px;
}
.progresso {
	background-color: green;
	height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.listItems {
    background-color: #e51c23b9;
    padding: 0 30vw;
    margin: 10px;
    border-radius: 5px;
}

/* Área dos Botões (Controle do Jogo) */

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.new-game {
    background-color: #4253af;
    color: #fff;
}

.attack {
    background-color: #e51c23;
    color: #fff;
}

.especial-attack {
    background-color: #ff9800;
    color: #000;
}

.heal {
    background-color: #259b24;
    color: #FFF;
}

.give-up {
    background-color: #BBB;
    color: #000;
}